@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background-color: rgb(12, 0, 20);
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.about-card {
    height: 250px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.363);
    /* border: solid white 3px; */
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px white);
}

.about-card h3 {
    margin-top: 7.5px;
    line-height: 35px;
    margin-bottom: 10px;
}
.about-card p {
    margin-top: -5px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 6px;
}

.about-card button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: large;
    transition: all 0.75s ease;
}

.about-card button:hover {
    scale: 1.075;
}